Package: com.bensge.maxidock
Name: maxidock
Depends: mobilesubstrate
Version: 0.0.1-1
Architecture: iphoneos-arm
Description: Have a two-row dock!
Maintainer: bensge
Author: bensge
Section: Tweaks
Installed-Size: 16
